<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CRYPTO widget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>CryptoCurrency.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CECA3FAE2160E24E00D3EEA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CECA3FC22160E24E00D3EEA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CECA3FCD2160E24E00D3EEA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
